a.enlace:link, a.enlace:visited {
	background-color: #5F7ABF;
	color: #DBE1F0;
text-decoration: none;
font-family: Serif;
font-size: 20px;
text-align: center;
display:inline-block;
margin: 0 auto;
width: 3
00px;
padding: 10px 25 px;

}

a.enlace:hover , a.enlace:active {
	text-decoration: underline;
	background-color: #94A7D6;
	color:#DBE1F0;
	}
	